.banner { 
	padding: 140px 0px; 
	background-size: cover;
	background-position: center;
	margin-bottom: 20px;
}

.banner h2 {
	font-family: 'Leckerli One', cursive;
	color: white; margin-bottom: 25px; opacity: 0.9;
	text-align: left;
}
.banner h1 {font-size: 40px; 
	       font-family: Cinzel, serif; 
	       text-align: left;
	   }
.homepage {
	background-image: url(../../images/Avatar.jpg);
	}
.photoshoot{
		background-image: url(../../images/photoshoot.jpg);
	}
